@import "~style-vars.scss";

.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: $tertiary-bg-color;
    line-height: 50px;
    text-align: center;
}

.footer a, a:active, a:focus {
    color: $primary-font-color;
    text-decoration: none;
}

.footer a:hover {
    color: $secondary-font-color;
    text-decoration: none;
}