<div class="home">
    <div class="btn-group center-group">
        <button type="button" class="btn btn-generic active" [ngClass]="{active: activeView == 0}" (click)="changeView(0)">List</button>
        <button type="button" class="btn btn-generic" [ngClass]="{active: activeView == 1}" (click)="changeView(1)">Single</button>
        <button type="button" class="btn btn-generic" [ngClass]="{active: activeView == 2}" (click)="changeView(2)">Tiles</button>
    </div>
    <div *ngIf="activeView == 0">
        <div *ngFor="let section of sections">
            <section [section]="section" id="section{{section.id}}"></section>
            <div style="padding: 0 0 10px 20px;">
                <button *ngIf="indexOfSection(section.id) > 0" class="btn btn-generic" (click)="listPrevious(section.id)"><</button>
                <button *ngIf="indexOfSection(section.id) < sections.length - 1" class="btn btn-generic" (click)="listNext(section.id)">></button>
            </div>
        </div>
    </div>
    <div *ngIf="activeView == 1">
        <div class="content-nav-bar right margin-10">
            <h5 class="d-inline">{{sections.indexOf(singleSection) + 1}} / {{sections.length}}</h5>
            <button class="btn btn-generic" (click)="singlePrevious()">Previous</button>
            <button class="btn btn-generic" (click)="singleNext()">Next</button>
        </div>
        <div class="row">
            <div>
                <section [section]="singleSection"></section>
            </div>
        </div>
    </div>
    <div *ngIf="activeView == 2">
        <div class="row">
            <div class="tiles">
                <tile *ngFor="let section of sections" [section]="section"></tile>
            </div>
        </div>
    </div>
    <div class="btn-group right-group" style="padding: 0 0 10px 20px;">
        <button class="btn btn-generic" (click)="smoothScrollTo(0)">Top</button>
    </div>
</div>